@{
    ViewData["Title"] = "Time Management Matrix";
}
@model List<TaskForm>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Task</td>
            <td>Due Date</td>
            <td>Category</td>
            <td>Quadrant</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            @if (x.Completed == false)
            {
                    <tr>
                        <td>@x.Task</td>
                        <td>@x.DueDate</td>
                        <td>@x.Category.Categories</td>
                        <td>@x.Quadrant.Quadrants</td>
                        <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Completed</a></td>
                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                    </tr>
            }
        }
    </tbody>
</table>

