<!--Displays all the tasks and their associated info arranged by quadrant-->

@{
    ViewData["Title"] = "Time Management Matrix";
}
@model List<TaskForm>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Quadrant 1</h1>
        </div>
        <div class="col">
            <h1>Quadrant 2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.QuadrantId == 1)
                            {
                                @if (x.Completed == false)
                                {
                                    <tr>
                                        <td>@x.Task</td>
                                        <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Completed</a></td>
                                        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                    </tr>
                                }
                            }
                        }
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.QuadrantId == 2)
                        {
                            @if (x.Completed == false)
                            {
                                <tr>
                                    <td>@x.Task</td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Completed</a></td>
                                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Quadrant 3</h1>
        </div>
        <div class="col">
            <h1>Quadrant 4</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.QuadrantId == 3)
                        {
                            @if (x.Completed == false)
                            {
                                <tr>
                                    <td>@x.Task</td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Completed</a></td>
                                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead class="font-weight-bold">
                    <tr>
                        <td>Task</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var x in Model)
                    {
                        @if (x.QuadrantId == 4)
                        {
                            @if (x.Completed == false)
                            {
                                <tr>
                                    <td>@x.Task</td>
                                    <td><a asp-controller="Home" asp-action="Completed" asp-route-id="@x.TaskId">Completed</a></td>
                                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a></td>
                                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>